- content_for :title do
  Startseite #{@city.name}

- content_for :javascript do
  :javascript
    $(function(){
      $('.carousel').carousel({interval: 8000})
    });

.row
  #head-carousel.carousel.slide.span6
    .carousel-inner
      = render partial: "boxes/carousel_box", collection: @carousel
    %a.carousel-control.left{href:'#head-carousel', data: {slide: "prev"}}
    %a.carousel-control.right{href:'#head-carousel', data: {slide: "next"}}

.row
  - cache ['all_events_calendar', @city.name ] do
    .span6
      = render partial: 'modules/calendars/minical'

.row.content-teasers
  = render partial: "boxes/grid_box", collection: @first_row

.row.content-teasers
  = render partial: "boxes/grid_box", collection: @second_row

.row
  .abo-box
    Abonniere unseren wöchentlichen Nerdletter!
    - if @city.id == 1
    	%form{action:"http://nerdhub.us5.list-manage.com/subscribe/post?u=748434db1c6d583cbe804429c&amp;id=0ea62d267d", method:"post", id:"mc-embedded-subscribe-form", name:"mc-embedded-subscribe-form", target:"_blank"}
    - elsif @city.id == 2
        %form{action:"http://nerdhub.us5.list-manage.com/subscribe/post?u=748434db1c6d583cbe804429c&amp;id=cf769ae8bd", method:"post", id:"mc-embedded-subscribe-form", name:"mc-embedded-subscribe-form", target:"_blank"}

    %input{type: "email", name: "EMAIL", placeholder: "E-Mail-Adresse", required: true}
    %input{type: "submit", value: "Absenden"}
