-# ToDo: Termin-Wiederholungen bearbeiten können
= semantic_form_for [:admin, @city] do |form|
  = form.inputs do
    = form.input :name
    = form.input :longitude
    = form.input :latitude
  = form.actions
