= semantic_form_for [:admin, @blog_post] do |f|
  = f.inputs "Details" do
    = f.input :category, collection: Category.where(blog_category: true).order("title")
    = f.input :headline
    = f.input :publishable_from
    = f.input :publishable
    = f.input :city
    = f.input :use_in_newsletter
    = f.input :picture
    = f.input :blog_type, as: :select, :collection => {"Blog" => "blog", "Podcast" => "podcast"}
    = f.input :mp3file
  = f.inputs "Teaser" do
    = f.input :headline_teaser, input_html: {rows: 1}
    = f.input :teaser_text, input_html: {rows: 3}
  = f.inputs "Inhalt" do
    = f.input :text
  = f.button

.p
.p Podcast Upload
- # You can recognize some bootstrap markup here :)
.progress.progress-striped.active
  .bar 

%form(action="https://nerdhub.s3.amazonaws.com" method="post" enctype="multipart/form-data" class='direct-upload')
  %input{type: :hidden, name: :key}
  %input{type: :hidden, name: "AWSAccessKeyId", value: ENV['S3_KEY'] }
  %input{type: :hidden, name: :acl, value: 'public-read'}
  %input{type: :hidden, name: :policy}
  %input{type: :hidden, name: :signature}
  %input{type: :hidden, name: :success_action_status, value: "201"}

  %input{type: :file, name: :file }
  

:css
  .progress .bar{ height: 20px; background-color: grey }      

= javascript_include_tag "s3_upload"
